*{
    margin: 0;
    padding: 0;
}

.resizing-btn{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d60fc;
    color: white;
    border-radius: 3px;
}